@media (max-width: 349px){
    
    header nav{
        justify-content: center !important;
    }
}

@media ((max-width: 426px) or (max-height: 650px) ){
    
    .textCarousel{
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.7rem;
        }
    }
}