/* Importamos la fuente desde google fonts para la cabecera*/

@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

/* Armado general de la pagina Header-Main-Footer */

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

.arizonia-regular {
    font-family: "Arizonia", cursive;
    font-weight: 40rem;
    font-style: normal;
} 

/* Aplicamos la fuente y ajustamos la altura a todos los body del sitio web*/

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(204, 204, 204);
}

/* Header */

header{
    background: linear-gradient(180deg, rgb(167, 146, 119) 5%, rgb(204, 204, 204) 65%);
    
}

h1{
    font-family: "Arizonia", cursive;
    font-size: 7rem;
    font-weight: 600;
}

h2{
    font-size: 3rem;
}

@media (max-width: 349px){
    header nav{
        justify-content: center !important;
    }
}

/* Main */
main{
    min-height: 90dvh;
    width: 100%;
}
/* Footer */
footer{
    width: 100%;
    background: linear-gradient(360deg, rgb(167, 146, 119) 0%, rgb(204, 204, 204) 98%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.footerDisplay{
    margin: 2em 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}
.footerDisplay h2{
    padding: 0 10%;
    border-bottom: solid rgb(167, 146, 119) 0.1em;
}
.redesSociales{
    display: flex;
    flex-flow: row nowrap;
}
.redesSociales a{
    margin: 2rem;
}
.redesSociales img{
    height: 4.5rem;
    width: auto;
}
.linksFooter div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
:is(.telefonoFooter, .emailFooter){
    align-items: baseline;
    font-size: 1.5rem;
}
a{
    margin: 0rem 0.5rem;
    text-decoration: none;
    color: black;
}

/* ------------- */
/* Pagina Index */

.imgCarousel{
    width: auto;
    height: 90dvh;
    margin: 1em 0;
    filter: blur(1px);
}

.textCarousel{
    text-transform: uppercase;
    margin: 10% 0;
    padding: 1em;
    backdrop-filter: brightness(30%);
    border-radius: 1em;
}

/* ------------- */
/* Pagina About Us */

.contenedorAbout{
    width: 90dvw;
    min-height: 60dvh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10dvh 5dvw;
    background-color:rgb(167, 146, 119);
    border: .1rem solid rgb(167, 146, 119);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
    border-radius: 5%;
}
.contenedorAbout__botones{
    width: 5%;
    padding: 20rem 0;
    position: relative;
}

.contenedorAbout__botones button{
    width: 100%;
}

.contenedorAbout__carousel{
    width: 90%;
    height: auto;
    margin: 5dvh 0 ;
}

.contenedorAbout__carousel img{
    clip-path: inset(3% round 5%);
}

.textoCarrousel h3{
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 1.2; 
    margin: 4rem 0 1rem 0;
}

.textoCarrousel p{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.2; 
    margin-bottom: 1rem;
}

/* ------------- */
/* Pagina Review */

.contenedorComentarios{
    width: 90dvw;
    margin: 5dvh 5dvw;
    padding: .5rem;
    box-shadow: 0rem 0rem 2rem .5rem rgba(0,0,0,.3);
    border-radius: 2.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.comentarios{
    position: relative;
    flex: 1 1 15rem;
    background-color:rgb(167, 146, 119);
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    border-radius: 3%;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    filter: brightness(105%);
}

.perfilComentarios {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

/* ------------------------------------------------- */
.comentarios__valuacion--valor{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;

}
.comentarios__valuacion img{
    height: 1rem;
    width: auto;
}

.comentarios__escrito{
    display: -webkit-box;
    -webkit-line-clamp: 4 ;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.comentarios__escrito--nombre{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 600;
}

/* Review o Comentario de un cliente nuevo */
.contenedorReview{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 80dvw;
    margin: 2rem 10dvw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.contenedorReview h3{
    text-transform: uppercase;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    margin: 4rem 0 2rem 0;
    font-weight: 600;
    line-height: 1.2; 
}

.review{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 146, 119);
    box-shadow: 0rem 0rem 2rem .5rem rgba(0,0,0,.3);
    border-radius: 5%;
    margin: 1rem 1rem;
    padding: 1rem;
}

.formulario{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 20rem;
    font-size: 1.5rem;
}

.formulario__infoUser{
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 20rem;
    justify-content: center;
    align-items: center;
}

.formulario__infoUser img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding: 1rem;
}

.formulario__infoUser input{
    height: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 2%;
    margin: 0 1rem;
    background-color: whitesmoke;
    border: .1rem solid rgba(0,0,0,0.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.formulario__valoracion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.formulario__valoracion #valoracion{
    width: 3rem;
    height: 2rem;
    border-radius: 2%;
    margin: 0 1rem;
    background-color: whitesmoke;
    border: .1rem solid rgba(0,0,0,0.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.formulario__valoracion img{
    width: 4rem;
    height: 4rem;
}

.formulario__review{
    width: 100%;
}

.formulario__review textarea{
    width: 80%;
    height: 20dvh;
    font-size: 1.5rem;
    border-radius: 2%;
    background-color: whitesmoke;
    border: .1rem solid rgba(0,0,0,0.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    resize: none;
}

:is(.botonEnviar, .botonRestaurar){
    background-color: whitesmoke;
    border: .1rem solid rgba(0,0,0,0.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    padding: 0 1rem;
    margin: 0 1rem;
}

/* ------------- */
/* Pagina Menu */

.objectPdf{
    width: 100%;
    height: 102vh;
    overflow: hidden;
    border: none;
}

/* ------------- */
/* Pagina Contact */

/* Linea inferior de los titulos de la pagina*/

.boxContact section h2{
    padding: 0 10%;
    border-bottom: solid rgb(167, 146, 119) 0.1em;
}

/* Personalizacion y ajuste de la seccion de direccion */

.boxDireccion iframe{
    width: 80%; 
    height: 40dvh; 
    border: 0;
}

:is(.boxContact, .boxDireccion) h2 {
    font-weight: 600;
}

/* Personalizacion y ajuste de la seccion de reservas */

.boxReservas form{
    padding: 4rem 0;
    font-size: 2rem;
}
.botonesForm{
    padding: 1.5rem 0;
}
.fontForm {
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.5rem;
}
.email{
    width: 50%;
}
fieldset {
    border: none;
}

/* Personalizacion y ajuste de la seccion de direccion */
.boxDireccion iframe{
    padding: 4rem 0;
}
.boxDireccion p{
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

